@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quando&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0a0908;
}

h1,
h2,
h5 {
  font-family: "Quando", serif;
}
h4 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  h2 {
    @apply text-2xl sm:text-[32px]
  }
}

@layer components {
  .no-scroll{
    overflow: hidden;
  }
  .__skill_card {
    box-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.08);
  }
  .__skill_title {
    font-family: "Quando", serif;
    font-size: 22px;
  }
  .__scrollTop {
    box-shadow: 8px 12px 48px 0 rgba(0, 0, 0, 0.25);
  }
  .__menuContainer.active{
    @apply opacity-100 z-10;
  }
  .__sheet{
    box-shadow: -4px 0px 10px 0 rgba(0, 0, 0, 0.25);
  }
  .__sheet.active{
    @apply translate-x-0 opacity-100;
  }
}
