---
import { Icon } from "astro-icon/components";
import Container from "./Container.astro";
import { social } from "@/constants/data";
import SocialButton from "./SocialButton.astro";
---

<footer class="bg-[#F6F7F8]">
  <Container
    className="flex flex-col sm:flex-row justify-between sm:items-center gap-10 sm:gap-4"
  >
    <div class="flex flex-col gap-4">
      <h2 class="font-bold text-xl leading-10">Connect with me on:</h2>
      <div class="flex flex-col sm:flex-row flex-wrap gap-5">
        {
          social.map((e) => (
            <SocialButton name={e.name} icon={e.icon} url={e.url} />
          ))
        }
      </div>
    </div>
    <a
      href="#header"
      class="grid p-3 sm:p-6 place-content-center rounded-2xl bg-black group __scrollTop"
    >
      <Icon name="arrow-up" class="size-6 sm:size-12 group-hover:-translate-y-1 duration-300" />
    </a>
  </Container>
</footer>
