---
import { cn } from "@/lib/utils";
import Container from "./Container.astro";
import Logo from "./Logo.astro";
import { nav } from "@/constants/data";
import { Icon } from "astro-icon/components";
import Sheet from "./Sheet.astro";
---

<header id="header">
  <Container className="max-w-[1328px] !py-4">
    <div class="flex justify-between items-center">
      <Logo />
      <nav>
        <ul class="hidden sm:flex gap-4">
          {
            nav.map((e) => (
              <li
                class={cn(
                  "font-semibold text-sm",
                  e.featured
                    ? "font-extrabold bg-[#0A0908] text-white rounded-2xl cursor-pointer"
                    : "relative before:absolute before:inset-0 before:content-[''] before:self-center before:translate-x-4 before:size-1.5 before:bg-[#0A0908] before:rounded-full before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-100 before:hover:translate-x-0"
                )}
              >
                <a class="p-4 block" href={e.url}>
                  {e.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button class="block sm:hidden menuButton">
        <Icon name="menu" class="size-6" />
      </button>
      <script is:inline>
        import { toggleMenu } from "@/lib/utils";

        const toggleButton = document.querySelector("menuButton");
        toggleButton?.addEventListener("click", () => {
          toggleMenu();
        });
      </script>
      <Sheet />
    </div>
  </Container>
</header>
