---
import { cn } from "@/lib/utils";
import Container from "./Container.astro";
import Logo from "./Logo.astro";
import { nav } from "@/constants/data";
import { Icon } from "astro-icon/components";
---

<header id="header">
  <Container className="max-w-[1328px] !py-4">
    <div class="flex justify-between items-center ">
      <Logo />
      <nav>
        <ul class="hidden sm:flex gap-4">
          {nav.map(e => (
            <li  class={cn('font-semibold text-sm', e.featured && 'font-extrabold bg-black text-white rounded-2xl cursor-pointer')}>
              <a class="p-4 block" href={e.url}>{e.name}</a>
            </li>
          ))}
        </ul>
      </nav>
      <button class="block sm:hidden">
        <Icon name="menu" class="size-6" />
      </button>
    </div>
  </Container>
</header>
