---
import { nav } from "@/constants/data";
---

<div
  id="__menuContainer"
  class="w-[320px] min-h-screen absolute top-0 right-0 bg-gray-500 translate-x-full hidden opacity-0 duration-300"
>
</div>
