---
import { nav } from "@/constants/data";
---

<div class="absolute bg-black/10 left-0 top-0 right-0 bottom-0 hidden __menuContainer z-10 w-full h-screen">
  <div
    class="w-[320px] min-h-screen absolute top-0 right-0 bg-gray-500 translate-x-full opacity-0 duration-300 z-20"
  >
  </div>
</div>
