---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="__skill_card flex flex-col gap-4 rounded-2xl px-4 sm:px-8 py-6 sm:py-10 bg-white">
  <h5 class="__skill_title">
    {title}
  </h5>
  <p class="text-sm leading-[30px]">
    {description}
  </p>
</div>
